.display-button{
    width: 19vw;
    margin: 2vh 3vw 0;
    padding: 0 1vw;
    color: #777777;
    border: none;
    height: 6vh;
    border-radius: 1vh;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected{
    background-color: #5905CE;
    color: white;
}